@include screen-md-up {
	dl.flexedHtaccessList {
		display: flex;
		flex-flow: row wrap;

		&:not(:first-child) {
			margin-top: 5px;
		}
		dt {
			flex: 0 1 200px;

			&:not(:last-of-type) {
				margin-bottom: 10px;
				border-bottom: 1px solid $wcfTabularBoxBorderInner;
			}

			.downloadCodeInput {
				width: 90px;
				text-align: center;
				cursor: pointer;
			}
		}
		dd {
			flex: 1 1 calc(100% - 200px);

			&:not(:last-of-type) {
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $wcfTabularBoxBorderInner;
			}
		}
	}
}

.framedMultilineValue {
	width: 100%;
	min-height: 5px;
	border: 1px solid $wcfTabularBoxBorderInner;
}

.jsApplicationHtaccessList:not(.open) {
	display: none;
}

.htaccessContentItemBody {
	display: flex;
	flex-flow: row wrap;
	width: 100%;

	.htaccessContentItemTrigger {
		flex: 1 0 auto;
	}

	small {
		flex: 1 0 100%;
	}
}

@include screen-md-up {
	.missingHtaccessFilesContainer {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;

		ul {
			flex: 1 0 auto;
		}
	}
}
